* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

:root {
  --ink: #ffffff;
  --bg: #1a1a1a;
  --highlight: #00ff00;
}

body {
  background-color: #000000;
  /* background-image: url("./assets/gradient.svg"); */
  background-size: cover;
  background-attachment: fixed;
  color: var(--ink);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.cursor {
  height: 24px;
  width: 24px;
  background-color: transparent;
  border: 2px solid var(--ink);
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

a {
  text-decoration: none;
  color: var(--ink);
}

.Nav {
  height: 40px;
  padding: 0.5rem 2rem;
  display: flex;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  /* background-image: url('./assets/gradient.svg');
  background-size: cover;
  background-attachment: fixed; */
  background-color: #000000;
  backdrop-filter: blur(10px);
  background-clip: padding-box;
  box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.1);
}

.Nav .logo {
  height: 32px;
}

.Nav .brand {
  display: flex;
  align-items: center;
}

.NavMenu {
  display: flex;
  align-items: center;
  height: 100%;
}

.NavLink {
  color: var(--ink);
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  cursor: pointer;
}

.NavLink a {
  border-bottom: 2px solid transparent;
  transform: translateY(2px);
}

.NavMenu .NavLink a:hover {
  border-bottom: 2px solid var(--ink);
}

.NavMenu .NavLink a.active {
  border-bottom: 2px solid var(--ink);
}

.NavBtn {
  background-color: var(--ink);
  color: var(--bg);
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}

.NavBtn a {
  color: var(--bg);
  text-decoration: none;
}

.NavBtn:hover a {
  color: var(--ink);
  text-decoration: none;
}

.NavBtn:hover {
  background-color: var(--bg);
  color: var(--ink);
}

.Hamburger {
  display: none;
  height: 30px;
  cursor: pointer;
  background-color: #ffffff;
}

.Sidebar {
  display: none;
  z-index: 20;
  width: 55%;
  height: 55%;
  background: rgba(0, 0, 0, 0.8);
  color: var(--bg);
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  justify-content: center;
}

.SideMenu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.SideMenu a {
  color: #acacac;
}

.SideLink {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.SideBtn {
  background-color: var(--bg);
  color: var(--ink);
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}

.SideBtn a {
  color: var(--ink);
  text-decoration: none;
}

.SideBtn:hover a {
  color: var(--bg);
  text-decoration: none;
}

.SideBtn:hover {
  background-color: var(--ink);
  color: var(--bg);
}

.close {
  position: absolute;
  top: 23px;
  right: 32px;
  height: 30px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .NavMenu {
    display: none;
  }

  .cursor {
    display: none;
  }

  .Hamburger {
    display: block;
  }

  .Sidebar {
    display: flex;
  }
}

.about {
  min-height: 90vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.about .content {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45vw;
}

.about .content p {
  font-size: 25px;
  padding: 10px 0;
}

.about .content h1 {
  font-size: 60px;
  font-weight: 700;
}

.about .content span {
  color: var(--highlight);
}

.about .content .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

}

.about .content .icons hr {
  width: 100px;
  height: 2px;
  /* background-color: var(--ink); */
  /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); */

}

.about .content .icons img {
  height: 30px;
  padding: 5px;
  background-color: white;
  border-radius: 100%;
}

.about .content .icons a {
  transition: all 0.2s ease-in-out;
}

.about .content .icons a:hover {
  transition: all 0.2s ease-in-out;
  transform: translateY(-5px);
}

.about .avatar {
  height: 300px;
  border-radius: 50%;
  margin: 30px 0;
}

.marquee {
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: 500;
}

.marquee h1 {
  margin: 0 50px;
}

@media screen and (max-width: 768px) {
  .about .content {
    width: 80vw;
  }

  .marquee {
    font-size: 30px;
  }

  .marquee h1 {
    margin: 0 20px;
  }
}

.experience {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  min-height: 90vh;
  padding-top: 60px;
}

.Timeline {
  padding: 50px 0;
}

.Timeitem {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Timeitem_line {
  border-right: 2px solid var(--ink);
  left: 9px;
  position: absolute;
  top: 0px;
  height: 100%;
}

.Timeitem_items {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Timeitem_item {
  margin: 20px 0;
  margin-left: 50px;
  padding: 20px;
  background-color: black;
  backdrop-filter: blur(10px);
  background-clip: padding-box;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  width: 45vw;
}

.Timeitem_item li {
  margin-left: 15px;
}

.Timeitem_top {
  /* Center the content horizontally */
  align-items: center;
  display: flex;
}

.Timeitem_circle {
  /* Rounded border */
  background-color: var(--ink);
  border-radius: 100%;
  /* Size */
  height: 20px;
  width: 20px;
}

.Timeitem_title {
  font-size: 20px;
}

.Timeitem_date {
  font-size: 13px;
  color: var(--highlight);
  padding: 5px 0;
}

.Timeitem_desc {
  font-size: 18px;
  padding: 5px 0;
}

@media screen and (max-width: 768px) {
  .Timeline {
    padding: 10px 0;
  }
  .Timeitem_item {
    margin: 20px 0;
    margin-left: 10px;
    padding: 20px;
    width: 65vw;
  }
  .Timeitem_title {
    font-size: 16px;
  }
  .Timeitem_desc {
    font-size: 14px;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  min-height: 90vh;
  padding-top: 60px;
}

.Gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Gallery h1 {
  text-align: center;
}

.ProjectGallery {
  display: flex;
  justify-content: center;
  /* padding: 20px 0; */
  flex-wrap: wrap;
}

.DesignGallery {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  flex-wrap: wrap;
}

.ProjectCard {
  width: 28vw;
  /* min-height: 300px; */
  margin: 20px 20px;
  /* background: black; */
  /* backdrop-filter: blur(10px); */
  /* background-clip: padding-box; */
  /* border: 2px solid #2c2c2c; */
  /* border-radius: 10px; */
  /* box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.1); */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); */
  padding: 15px;
}

.ProjectCard img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.ProjectCard h2 {
  padding: 5px 0;
}

.ProjectCard p {
  padding: 10px 0;
}

.ProjectCard span {
  font-size: 13px;
  color: var(--highlight);
}

@media screen and (max-width: 768px) {
  .ProjectCard {
    width: 80vw;
  }
}

.skills {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0px 30px 0px;
  background-color: #000000; /* Set the background color */
  color: #ffffff; /* Set text color */
}

.skills h1 {
  text-align: center;
  font-size: 2em; /* Increase header font size */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle text shadow */
}

.skills h2{
  text-align: center;
  font-size: 1.5em; /* Increase header font size */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle text shadow */
  padding-bottom: 10px;
}


.skill-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
  padding: 10px;
  gap: 20px;
}

.skill-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px; /* Add some margin to each icon container */
  padding: 15px;
  border: 0px solid #ffffff; /* Set border color */
  /* background-color: #808080; Set container background color */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Add a subtle box shadow */
}

.skill-icon svg {
  height: 50px;
}

.skill-icon:hover {
  transform: scale(1.1); /* Enlarge the icon on hover */
}

@media screen and (max-width: 768px) {
  .skill-icons {
    width: 90vw;
  }

  .skill-icon img {
    height: 30px;
  }
}


.footer {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  background-clip: padding-box;
  box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.footer .icons {
  display: flex;
  width: 20vw;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.footer .icons img {
  height: 30px;
  padding: 5px;
  background-color: white;
  border-radius: 100%;
}

.footer .icons a {
  transition: all 0.2s ease-in-out;
}

.footer .icons a:hover {
  transition: all 0.2s ease-in-out;
  transform: translateY(-5px);
}
